
/*Posada paraiso***********/

/*--------slider-------*/ 
.sliderContent{/*las img deben tener minimo 500px de alto*/
    height:500px;
	background:rgb(12,12,23);
 }
 
 .sliderContent img{
   height:570px; /*70 px de tolerancia alas imagens*/
   width:100%;
}

/*Querys Para cambiar el tamaño de las imagenes del slider*/
@media screen and (max-width: 1000px) {/*Tablets grandes*/
   .sliderContent{
	 height:360px;
	 background:rgb(254,246,234);
   }
   .sliderContent img{
   height:360px;
   width:100%;
   }
}
 
@media screen and (max-width: 780px) {/*Tablets pequeñas*/
   .sliderContent{
	 height:300px;
	 background:rgb(254,246,234);
   }
   .sliderContent img{
   height:300px;
   width:100%;
   }
}

@media only screen and (max-width: 600px) {/*Celulares*/
   .sliderContent{
	background:rgb(254,246,234);
	 height:150px;
   }
   
   .sliderContent img{
   height:160px;
   width:100%;
   }  
}
/*--------/slider---------*/

 
@media screen and (min-width: 780px) {/*Computadoras*/
   .navbar-header {/*Para cuando no hay contenido en el menú*/
     min-height:80px;
   }
}
 
 

.style-alert-orange{
background:rgb(220,90,18);
color:white;
margin:0px;
}

.alert-success{
background:rgb(210,90,18);
color:white;
}




/* para darle efcto de que se mueven hacia la derecha  */
body li{
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
/* para darle efcto de que se mueven hacia la derecha  */
body a{
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}


.main-menu{
background-color:rgb(231,96,18);
color:white;
}
.item-menu{
background:rgb(222,96,18);
}

.item-menu:hover{
margin-left:-1%;
margin-top:-1%;
border-radius:5px;
-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
}

.itema-active{
background:rgb(211,120,21);
}

.container-image{
/* height:90px;
background:gray;
 */}

.icon-logo-empresa {
  margin: 1em 0 0 .5em;
  width: 140px;
  height: 52px;
  margin-top:0px;
	
}

.ladrillos{

  background-color: #d37f15;
  /*background:url(../../img-posadaparaiso/paraisonaranja-10.png);*/
  padding: 15px;
  box-shadow: 1px 1px 1px #888888;
  z-index: 10; 
  color:white;
  min-width:100%;
  
  box-shadow: inset 0px 0px 60px rgb(12,1,2);  
  
  background:url("../../img-posadaparaiso/ladrillos.png") no-repeat center fixed ;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.style-button{
background:black;
-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
}

.style-button:hover{
background:rgb(100,100,100);
-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
}

.suscribete{
text-align:center;
 /* box-shadow: 10px 10px 10px #888888; */
 background-color:rgb(231,96,18) ;
  padding: 15px;
  color:white;

  /* box-shadow: inset 0px 0px 40px rgb(12,1,2);
   */                 
}

.marco-transparente{
-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
}

/* .historia-hotel{
color:black;
box-shadow: 10px 10px 10px #888888;
 background-color:white ;
  padding: 15px;
  box-shadow: 1px 1px 1px #888888;
  z-index: 10; 
} */

.historia-hotel {

background:url("../../img-posadaparaiso/hotel-opaco.png") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
padding:5%;
color:black;
}

	

.banner-promo{
padding:16px;
text-align:center;
background:white;
line-height: .6;
}


	
h2{
color:white;
}
.parrafo:first-letter{
  font-size:200%;
  float:left;
  color:#f00;
}

.text-encabezados-orange{
/* font-weight: bold; */
color:rgb(231,96,18);
font-size:2.4em;
text-shadow: 2px 2px 2px #aaa;
}

.text-encabezados-red{
font-weight: bold;
color:rgb(154,51,22);
color:rgb(178,34,34);
font-size:2.3em;
text-shadow:0px 2px 0px #aaa;
}

.promociones{
padding:40px;
color:black;
text-align: center;
}

.contacto{
padding:40px;
color:black;
background:url("../../img-posadaparaiso/pasillohotel-opaco.png") no-repeat center ;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.form-naranja{
color:white;
background-color:rgb(231,96,18);
padding:5px;
border-radius:4px;
}

.img-with-text{
color:white;
padding:1px;
border-radius:5px;
margin-bottom:10px;
opacity:.95;
}

.img-with-text:hover{
color:white;
opacity:1;

}

.form-gris{
color:white;
background:rgb(10,19,10);
padding:5px;
}

.form-gris:hover{
text-decoration:none;
background-color:rgb(60,59,60);
-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 2px 10px rgba(0, 0, 0, 0.5);
}

.ubicacion{
padding:40px;
background:rgb(254,246,234);
color:black;
}

.footer-menu{
padding:40px;
background-color:rgb(231,96,18);
color:white;
}
.sombrainterior-naranja{
  box-shadow: inset 0px 0px 30px rgb(211,27,21),/*sombra Interior*/
                    0px 0px 0px rgb(211,27,21);/*Sombra exterior*/   
}

.sombra-interior{
box-shadow: inset 0px 0px 50px rgb(12,1,2),
                  0px 0px 0px rgb(12,1,2);
}


.sectionFormPay{
margin:30px auto;
}
.title-reservation{
background:orange;
}

.detailReservation{
font-size:1.15em;
}

.required-sign{
color:red;
}

.flag{
border-radius:100%;
}
.flag:hover{
transition:10px;
}
/*************/


.navbar{
	background: orange;
	color: #000;
}

.footer-box{/* 
    background-color: #d37f15; */
    background-color: red;
	padding: 30px 0px;
	width: 100%;
	min-height:200px;
	background: #DDD;
	text-align: center;

}

.clear{
	clear:both;
	min-height: 20px;
}

.content-top{
	padding:4% 0;
	background:#FFFFFF;
}

.content-middle{
	padding:4% 0;
	background:#FAA685;
}

.img-footer{
	width: 100px;	
}


.footer_menu { clear:both;   text-align:center; }

.footer_menu span.current{ 
    height:32px; padding: 14px 0 0 0;
    color:#BBB;
}
.footer_menu li{ 
    display: inline;
}

.footer_menu li.selected{ 

}

  
.footer_menu a {
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em; 
    color:gray;
    width:160px;
    height:32px;
    padding:10px 10px 0 10px;
}

#footer_menu a.current {background:url(../images/menu_current.png) left top no-repeat; }

